@import "settings";
@import "normalize";
@import "foundation.scss";

.hero-panel {
  @include panel();
  height: 450px;

  background: url(/images/bg-home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h2 {
    padding: 0.25em;
    line-height: 42px;
    color: $white;
    opacity: 1.0;
  }
}

.hero-panel-smaller {
  height: 125px;
  background-image: url(/images/bg-home.jpg) no-repeat;
}

.wrapper {
  padding-bottom: 100px;
}

footer {
  background: #333;
  margin-top: 5em;
  padding: 24px 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;

  a { color: #666; padding: 3px 6px;
    &:hover { color: #777; }
  }

  ul.address { margin: 0; display: inline-block; padding-bottom:0px; color: #666;
    li { display: block; float: left; margin-left: 6px; font-weight: 700; font-size: 0.75rem;
      a { color: #666; padding: 3px 6px;
        &:hover { color: #777; }
      }
    }
  }

  ul.home-social { display: block; float: right; margin-bottom: 8px;
    li { list-style: none; display: block; float: left; margin-left: 10px;
      &:first-child { margin-left: 0; }
      a { display: block; height: 50px; width: 50px; }
    }
  }

  p.copyright { margin: 6px 0 0; font-size: 0.75rem; color: #666; }
}

code {
  background: #f7f7f7;
  font-family: monaco, monospace;
  font-size: 0.9rem;
  margin: 0 .3rem;
  outline: 1px solid #ccc;
  padding: 0 3px;
  white-space: nowrap;
}

pre {
  background: #f7f7f7;
  border: 1px solid #ddd;
  line-height: 1.35em;
  margin: 1.7rem 0;
  margin-bottom: 2.7rem;
  overflow-x: scroll;
  padding: .5rem 1rem;
  -webkit-overflow-scrolling: touch;
  white-space: pre;
  word-wrap: normal;
  width: 947px;
}

pre code {
  background: none;
  color: #333;
  display: block;
  font-size: 1.8rem;
  margin: 0;
  outline: none;
  padding: 10px;
  white-space: inherit;
  width: 947px;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
