<footer>
  <div class="row">
    <div class="medium-4 medium-4 push-8 columns">
      <ul class="home-social">
        <li><a href="https://github.com/sophiant" class="github">Github</a></li>
        <li><a href="mailto:chris@sophiant.com" class="mail">Contact</a></li>
      </ul>
    </div>

    <div class="medium-8 medium-8 pull-4 columns">
      <ul class="address">
        <li>61020 River Bluff Trl.</li>
        <li>&middot;</li>
        <li>Bend, Oregon 97702</li>
        <li>&middot;</li>
        <li>Tel. (541) 719-8763</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <p class="copyright text-center">&copy; 2005&dash;2015 Sophiant, LLC. All rights reserved.</p>
  </div>
</footer>
