<% wrap_layout :layout do %>

<%= partial 'layouts/small_hero', locals: { h2_text: 'Blog' } %>

<div class="row">
  <div class="large-10 large-offset-1 columns">
    <%= yield %>
  </div>
</div>
<% end %>