---
title: About Sophiant
---

<div class="hero-panel hero-panel-smaller">
  <h2>About</h2>
</div>

<div class="row">
  <div class="large-4 columns">
    <h3>What We Do</h3>

    <p>Sophiant is a boutique consulting company based in Bend, Oregon. We deliver custom web and integration solutions to customers seeking a better partner. Our value proposition is simple: building complex technology solutions right the first time.</p>
  </div>

  <div class="large-8 columns">
    <h3>Approach</h3>

    <p>The development of a new business application requires a unique blend of skills. Systems development could be said to be part art. And part science. It requires years of accumulated technical knowledge and hands-on experience. And the right blend of intuition. Of understanding what your needs are, and how that should be reflected in your solution.</p>
  </div>
</div>
