---
title: Sophiant | A Bend, Oregon Web Consultancy
---

<div class="row">
  <div class="large-12 columns">
  <%= image_tag "home.png" %>
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
  <div class="large-8 columns">
    <div class="row">
      <div class="large-6 columns">
        <h4>Get IT Done.</h4>
        <p>Sophiant builds custom web applications. We do this with passion and the utmost focus on our customer's success.</p>
      </div>
      <div class="large-6 columns">
        <h4>Choose Sophiant.</h4>
        <p>The consultants at Sophiant are part business architects and part technology advocates. Mixing these in the right proportion is what makes us unique. Balance is an all-encompassing theme in our work. We promote a balanced lifestyle, knowing this allows the individual to achieve their highest potential.</p>
        <p>This also guides our balanced approach to systems development. It's a recipe for success. Bridging wisdom and intuition in all that we do.</p>
      </div>
    </div>
  </div>
</div>
