---
title: Sophiant Philosophy
---

<div class="hero-panel hero-panel-smaller">
  <h2>Philosophy</h2>
</div>

<div class="row">
  <div class="large-4 columns">
    <blockquote>Live your daily life in a way that you never lose yourself. When you are carried away with your worries, fears, cravings, anger, and desire, you run away from yourself and you lose yourself. The practice is always to go back to oneself.<cite>Thich Nhat Hanh</cite></blockquote>
  </div>

  <div class="large-8 columns">
    <h3>We Believe ... In People</h3>

    <p>Sophiant was started on a notion that seems to have been lost lately in our world. Unlike companies that market a manufactured product, people are our "capital". They walk (or bike, or run, or skip) out the door every evening.</p>

    <p>That means to make the very best product we can, we have to take care of the people using that "product". Because of this belief, you can expect somebody who provides the very best - each and every day.</p>
  </div>
</div>
